.main {
  padding: 0.2rem;
}

.header {
  margin: 0.25rem calc(40% - 1.2rem); /* calc(0.4 * (100% - 4rem) + 0.4rem) */
  font: 0.44rem AktivGrotesk-Bold;
  text-align: center;
}

.content {
  margin: 0 calc(42% - 1rem); /* calc(0.42 * (100% - 4rem) + 0.7rem) */
  text-align: center;
}

.appointmentContainer {
  margin: 0.25rem auto;
  border-radius: 0.4rem;
  max-width: 3.5rem;
  background: #1e345d;
  overflow: hidden;
}

.appointmentContainer a {
  text-decoration: none;
}

.appointment {
  padding: 0.2rem 0;
  font: 0.24rem AktivGrotesk-Bold;
  color: white;
  text-align: center;
}
